.container {
  display: flex;
  justify-content: center;
  border: 1px solid #D7D7D7;
  margin: 1rem 1rem 0 1rem;
  transition: .2s ease-in-out;
  outline: none;
}

@media (min-width: 767px) {
  .container {
    width: 60%;
    margin: 1rem auto 0;
  }
}

.container:focus-within {
  border: 1px solid #474747;
}


.search {
  font-weight: bold;
  font-size: 16px;
  color: #858585;
  outline: none;
  padding: 1rem 0 1rem 1rem;
  flex: 1;
}

.icon {
  padding: 10px;
}